<form action="/" method="post">
    <input type="text" name="heading" placeholder="Heading" style="display: block">
    <textarea name="summary" cols="70" rows="10" style="display: block" placeholder="Summary"></textarea>
    <textarea name="content" id="" cols="70" rows="10" style="display: block" placeholder="Content"></textarea>
    <button type="submit">POST</button>
</form>